@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');

/* ESTO QUE ESTA ACA DENTRO ES UN COMENTARIO */

/* regla de estilos

selector {
    propiedad: valor;
    propiedad:valor;
}
*/


body {
    font-family: "Corinthia", cursive;
    font-weight: 400;
}




 /*selector de etiqueta*/
h1 {
    color: rgb(251, 251, 251);
    background-color: black;
}

a{
    color: rgb(87, 3, 3);
    text-decoration: none;
}

/*agrupamiento de selectores*/

h1, h2, h3, h4 {
 text-decoration: underline;
 font-family: "Saira Stencil", Arial, sans-serif;
}

/* selector de id*/
#archivodecarpeta{
    font-size: 25px;
}

/* selector de clase*/
.destacado{
    font-weight:normal;
    color: red;
}




