/* ESTO QUE ESTA ACA DENTRO ES UN COMENTARIO */

/* regla de estilos

selector {
    propiedad: valor;
    propiedad:valor;
}

*/
 /*selector de etiqueta*/
h1 {
    color: rgb(251, 251, 251);
    background-color: black;
}

a{
    color: rgb(87, 3, 3);
    text-decoration: none;
}

/*agrupamiento de selectores*/

h1, h2, h3, h4 {
 text-decoration: underline;
}





